<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898243552348-qb2kg9h0s2t531iqq92tnotqo19c3dpg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898243552348-qb2kg9h0s2t531iqq92tnotqo19c3dpg</string>
	<key>API_KEY</key>
	<string>AIzaSyDYKyQvI23hGWV4c9V0qN5EFH6GPik_dlM</string>
	<key>GCM_SENDER_ID</key>
	<string>898243552348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.youChat</string>
	<key>PROJECT_ID</key>
	<string>you-chat-155b8</string>
	<key>STORAGE_BUCKET</key>
	<string>you-chat-155b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898243552348:ios:910ee410589fa741d77299</string>
</dict>
</plist>